.shipping{
    background-color: pink;
    margin-bottom: 0%;
}
.shipping p{
    text-align: center;
}
.fa-location-dot{
    right: 100px;
}
.title{
    background-color: rgb(240, 229, 231);
    

}
.title h1{
    text-align: center;
    padding-top: 8%;
}
.enticement{
    display: flex;
    background-color: rgb(214, 227, 231);
    padding-left: 5%;
    gap: 20%;
}
.navigation{
    padding-bottom: 1%;
    padding-left:30% ;
}
a{
    gap: 5%;
}
.collection{
    display: flex;
    padding-left: 5%;
    gap: 5%;
    margin-bottom: 1%;
   
}
.collection button{
    background-color:  rgb(243, 209, 214) ;
    width:60%;
    height: 10%;
    border: none;
    border-radius: 7%;

    
}
.jewellary_diplay{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image/close-up-beautiful-afro-american-latin-woman-smiling-spending-nice-time-coffee-shop_58466-12273.avif);
height: 400px;
width: 100%;
    background-repeat: no-repeat;
   
}

.elevate_collection{
    text-align: center;
    padding-top: 5%;
}

.elevate_collection button{
    margin-top: 3%;
}

.shop_now{
    background-color:  rgb(243, 209, 214) ;
    width:11%;
    border: none;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    border-radius: 7%;
   margin-bottom: 3%;
}
.earrings{
    display: flex;
   
    width: 60%;
    margin: auto;
    gap: 25%;
}
.golden_earring{
   
}
.golden_earring img{
    height: 90%;
    width: 140%;
}
.earring_price{
    
    width: 40%;
}
.earring_price h3{
    text-align: left;
}
.earring_price p{
    text-align: left;
    color:  #ad9c81 ;
}
.earring_price span{
    color: black;
    font-size: 80%;
    text-decoration: line-through;
   
}
.colour{
    border-top: 1px solid grey;
    padding-bottom: 50%;
}
.colour p{
text-align: left;
font-weight: bold;
margin-top: 8%;
color: black;
font-size: 70%;

}
.cart{
    width: 95%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bold;
}
.payment_method{
    width: 95%;
    padding-top: 2%;
    padding-bottom: 2%; 
    background-color: black;
    color: white;
    font-size: 60%;
    margin-bottom: 4%;
}
.fa-apple-pay{
    font-size: 150%;  
}
.review{
  border:  1px solid black;  
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgb(223, 180, 169);
  margin-bottom: 5%;
}
.fa-star{
    font-size: 250%;
}
.jewellary{
    display: flex;
    margin-top: 3%;
    gap: 5%;
    margin-left: 7%;
}
.jewellary p{
    font-weight: bold;
    font-size: 80%;
}
.jewellary button{
    background-color: rgb(243, 209, 214);
    border: none;
    height: 8%;
    width: 50%;
    border-radius: 5%;
}

.fa-star{
    font-size: 50%;
    color: pink;
}

.chocker img{
height: 60.5%;
width: 91%;
}
.shop_more{
    border: none;
    background-color:rgb(243, 209, 214); 
    height: 30px;
    width: 10%;
    border-radius: 5%;
}
.samples{
    display: flex;
    gap: 8.9%;
    margin-top: 5%
}
.ring_sample img{
    width: 100%;
    height: 88%;
}
.samples img{
    width: 148%;
}
.fashion_brands{
    display: flex;
    gap: 5%;
}
.fashion_brands span{
    background-color: red;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
}